<ion-app>
  <ion-split-pane contentId="main-content" when="md">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header class="ion-text-start ion-no-border">
        <ion-item lines="full" style.--inner-padding-end="0" width="100%">
          <ion-button fill="clear" size="small">
            <ion-icon name="person-circle" slot="icon-only"></ion-icon>
            <ion-label class="ion-margin-start" width="100%">Evan Hunsader</ion-label>
          </ion-button>
          
          <ion-button fill="clear" size="small" slot="end">
            <ion-icon name="caret-down" slot="icon-only"></ion-icon>
          </ion-button>
          
        </ion-item>
      </ion-header>
      <ion-content class="ion-no-padding">
        <ion-list>
          <ion-menu-toggle>
            <ion-item lines="full" style.--inner-padding-end="0 !important">
              <ion-icon name="cloud" slot="start"></ion-icon>
              <ion-label>All Bookmarks</ion-label>
              <ion-button slot="end" fill="clear">
                <ion-icon name="ellipsis-horizontal" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item lines="full">
              <ion-icon name="file-tray" slot="start"></ion-icon>
              <ion-label>Unsorted</ion-label>
              <ion-button slot="end" fill="clear">
                <ion-icon name="ellipsis-horizontal" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-menu-toggle>
          
          <ion-item-divider>
            <ion-label>Groups</ion-label>
          </ion-item-divider>
          <ion-accordion-group>
            <ion-accordion>
              <ion-item slot="header">
                <ion-label>Bookmark Group 1</ion-label>
              </ion-item>
              <ion-list slot="content">
                <ion-menu-toggle>
                  <ion-item>
                    <ion-label>Bookmark 1</ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </ion-list>
            </ion-accordion>
          </ion-accordion-group>
          <ion-item-divider>
            <ion-label>Filters</ion-label>
          </ion-item-divider>
          <ion-item-group>
            <ion-menu-toggle>
              <ion-item lines="none">
                <ion-icon name="link" slot="start"></ion-icon>
                <ion-label>Links</ion-label>
                <ion-badge>3</ion-badge>
              </ion-item>
            </ion-menu-toggle>
            
            <ion-menu-toggle>
              <ion-item lines="none">
                <ion-icon name="pricetag" slot="start"></ion-icon>
                <ion-label>Without Tags</ion-label>
                <ion-badge>3</ion-badge>
              </ion-item>
            </ion-menu-toggle>
            
          </ion-item-group>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
