<ion-list lines="none" class="ion-no-padding">
  <ion-item-divider>
    <ion-label>View</ion-label>
  </ion-item-divider>
  <ion-item-group>
    <ion-item *ngFor="let option of viewOptions">
      <ion-icon [name]="option.icon" slot="start"></ion-icon>
      <ion-label>{{ option.label }}</ion-label>
    </ion-item>
  </ion-item-group>
  <ion-item-divider>
    <ion-label>Show in list</ion-label>
  </ion-item-divider>
  <ion-item-group class="ion-padding-top">
    <ion-row *ngFor="let option of showOptions" class="show-in-item">
      <ion-checkbox></ion-checkbox>
      <ion-label>{{ option }}</ion-label>
    </ion-row>
  </ion-item-group>

  <ion-item-divider>
    <ion-label>Cover side</ion-label>
  </ion-item-divider>
  <ion-item-group>
    
      <ion-radio-group>
        <ion-item>
          <ion-radio slot="start"></ion-radio>
          <ion-label>Left</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio slot="start"></ion-radio>
          <ion-label>Right</ion-label>
        </ion-item>
      </ion-radio-group>
  </ion-item-group>
</ion-list>